<footer class="footer">
  <div class="container">
    <div class="row text-right">
      <div class="col-md-3">
        <a href="#">الرئيسية</a>
      </div>

      <div class="col-md-3">
        <a href="#">المميزات</a>
      </div>

      <div class="col-md-3">
        <a href="#">الاتصال والدعم</a>
      </div>

      <div class="col-md-3">
        <a>تابعنا على</a>
        <div class="social-icons">
          <a href="#"><img src="assets/img/x-icon.png" alt="X" /></a>
          <a href="#"
            ><img src="assets/img/linkedin-icon.png" alt="LinkedIn"
          /></a>
          <a href="#"
            ><img src="assets/img/instagram-icon.png" alt="Instagram"
          /></a>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-right">
        <p>جميع الحقوق محفوظة © 2024</p>
      </div>
    </div>
  </div>
</footer>
