<app-nav-landing></app-nav-landing>

<header class="hero">
  <div class="container text-center pt-5">
    <h1 class="fw-bold">المشروع</h1>
    <p class="mt-5">
      لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة أو
      الخط دون الاعتماد على محتوى معنوي.
    </p>
    <img
      src="assets/img/Screenshot.png"
      alt="صوره عن النظام"
      class="hero-img"
    />
  </div>
</header>

<main class="main">
  <section class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="fw-bold">عن الصفحة</h2>
          <p>
            لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
            أو الخط دون الاعتماد على محتوى معنوي.
          </p>
          <div class="info d-flex">
            <span>
              <img src="assets/img/icon.png" alt="ايقونه" class="about-icon" />
            </span>
            <h5 class="me-3">
              لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل
              الوثيقة
            </h5>
          </div>
          <div class="info d-flex">
            <span>
              <img src="assets/img/icon.png" alt="ايقونه" class="about-icon" />
            </span>
            <h5 class="me-3">
              لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل
              الوثيقة
            </h5>
          </div>
          <div class="info d-flex">
            <span>
              <img
                src="
              "
                alt="ايقونه"
                class="about-icon"
              />
            </span>
            <h5 class="me-3">
              لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل
              الوثيقة
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <img
            src="assets/img/img-about.gif"
            alt="لصورة المتحركة"
            class="about-img img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <h1 class="fw-bold text-center mb-5">مميزات المشروع</h1>
      <div class="row">
        <div class="col-md-6" *ngFor="let card of cards">
          <div class="card text-center">
            <div class="card-body">
              <img
                [src]="card.icon"
                alt="صوره وصفيه"
                class="card-icon mb-3 img-fluid"
              />
              <h6 class="card-subtitle mb-2 fw-bold">
                {{ card.subtitle }}
              </h6>
              <p class="card-text mb-2">{{ card.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact mt-5 mb-5">
    <div class="container background p-5">
      <h5 class="fw-bold">تواصل معنا</h5>
      <div class="row">
        <div class="col-md-4 col-lg-3 mt-4" *ngFor="let contact of contactInfo">
          <div class="info d-flex">
            <span>
              <img
                [src]="contact.icon"
                alt="ايقونه"
                class="contact-icon ms-2 img-fluid"
              />
            </span>
            <div class="info-contact d-flex flex-column ms-3">
              <h5 class="fw-bold">{{ contact.title }}</h5>
              <p>{{ contact.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="info-contact d-flex flex-column ms-3">
            <h5 class="fw-bold">تابعنا على</h5>
            <img
              src="assets/img/Media.png"
              width="110"
              height="30"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
