@import './variables'; 

h1 {
  color: $text-display;
  font-size: 2.5rem; 
}

p {
  color: $text-secondary;
  font-size: 1.1rem; 
}

@font-face {
  font-family: 'Tajawal';
  src: url('../assets/fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html{
  scroll-behavior: smooth;

}

body {
    font-family: 'Tajawal', sans-serif !important;
    direction: rtl;
    padding: 0;

  }

  // Mixin لتأثير الـ Hover والأنيميشن
@mixin hoverEffect($shadowColor, $translateY, $duration: 0.3s) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow $duration ease-in-out, transform $duration ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px $shadowColor;
    transform: translateY($translateY);
  }
}

// Mixin للأنيميشن عند تحميل الصفحة
@mixin cardAnimation($startY, $duration: 0.6s) {
  animation: cardAnimation $duration ease-out;

  @keyframes cardAnimation {
    0% {
      opacity: 0;
      transform: translateY($startY);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
