<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/Logo-das.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li
          *ngFor="let item of menuItems"
          class="nav-item d-flex align-items-center"
        >
          <a
            class="nav-link d-flex align-items-center mr-3"
            [routerLink]="item.link"
            (click)="setActive(item.link)"
            [class.active]="activeLink === item.link"
          >
            <img [src]="item.icon" alt="Logo" class="nav-icon ms-1" />
            {{ item.title }}
          </a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <div class="d-flex mt-2">
          <img
            class="ms-3"
            src="assets/img/Button.png"
            width="30"
            height="30"
          />
          <img
            class="ms-3"
            src="assets/img/profile.png"
            width="24"
            height="24"
          />
          <div class="ifou-user ms-3">
            <span>احمد بدر</span>
            <p>مدير</p>
          </div>
          <img src="assets/img/logout-05.png" width="24" height="24" />
        </div>
      </form>
    </div>
  </div>
</nav>
