<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/Logo.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">عن المشروع</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مميزات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">تواصل معنا</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          class="btn btn-outline-success"
          [routerLink]="['/sign-in']"
          type="submit"
        >
          تسجيل دخول
          <span>></span>
        </button>
      </form>
    </div>
  </div>
</nav>
