<app-navdashboard />
<div class="main">
  <section class="Quick">
    <div class="container">
      <div class="headr">
        <div class="d-flex">
          <img
            src="assets/img/da-icon-last.png"
            width="24"
            height="24"
            alt="ايقونه الوصول الصريع"
          />
          <h6 class="me-3">الوصول السريع</h6>
        </div>
      </div>
      <div class="row link-Quick">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <img
                src="assets/img/da-cars-icon.png"
                alt="Icon"
                class="card-icon mb-3"
              />
              <p class="card-text">لوحة التحكم</p>
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="card-text mb-0">التفاصيل</h6>
                <a href="#" class="btn btn-primary btn-sm"><</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="report mt-5">
    <div class="container">
      <div class="headr">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              src="assets/img/Leading Icon.png"
              width="24"
              height="24"
              alt="ايقونه  احداث التقارير"
            />
            <h6 class="me-3">أحدث التقارير</h6>
          </div>
          <div>
            <button class="btn btn-outline-success" type="submit">
              طلب تقرير
            </button>
          </div>
        </div>
      </div>

      <div class="row link-report">
        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="card-body">
              <img
                src="assets/img/rIcon.png"
                alt="Icon"
                class="card-icon mb-3"
              />
              <p class="card-text">تقرير</p>
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="card-text mb-0 text-dark">113424#</h6>
                <a href="#" class="btn btn-primary btn-sm"><</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    <!-- This link added for testing purposes -->
    <a routerLink="violation">Go to violation page</a>
  </div>
  <section class="text-center">
    <hr>
    <!-- Child routes will be rendered here -->
    <router-outlet></router-outlet>
  </section>
</div>

<app-footer-dasbord />
